{{ widget('Iidev\\ZohoCRM\\View\\Model\\Settings') }}
<hr>
<h2>Manual Sync</h2>
<ul class="action-list">
  <li>{{ widget('XLite\\View\\Button\\Link', location=xurl('zoho_orders', 'create_zoho_orders'), label=t('Create orders')) }}</li>
</ul>
<hr>
<h2>Order errors</h2>
{{ widget('Iidev\\ZohoCRM\\View\\ItemsList\\Model\\Order') }}