<h2>Manual Sync</h2>
<ul class="list">
  <li>{{ widget('XLite\\View\\Button\\Link', location=xurl('zoho_general', 'create_products'), label=t('Create products')) }}</li>
  <li>{{ widget('XLite\\View\\Button\\Link', location=xurl('zoho_general', 'sync_inventory'), label=t('Sync inventory')) }}</li>
  <li>{{ widget('XLite\\View\\Button\\Link', location=xurl('zoho_general', 'update_products'), label=t('Update products')) }}</li>
</ul>
